<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PRP K8S</title>
</head>

<body>
  <center><h3>Please put the downloaded 'config' fine into your ~/.kube/ folder</h3></center>
  <script type="text/JavaScript">
    window.location.href="getConfig?id={{.ID}}";
  </script>
</body>

</html>
