{{define "body"}}
  <div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>IDP</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          {{range .Users}}
          <tr>
            <td>{{.Spec.UserID}}</td>
            <td>{{.Spec.Name}}</td>
            <td>{{.Spec.IDP}}</td>
            <td>{{.Spec.Email}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
  </div>
{{end}}
