<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Nautilus GPU usage warning</title>
    <style type="text/css">
      body{
        margin: 0 auto;
        padding: 0;
        min-width: 100%;
        font-family: sans-serif;
      }
      table{
        margin: 50px 0 50px 0;
      }
      .content{
        height: 100px;
        font-size: 18px;
        line-height: 30px;
      }
    </style>
  </head>
  <body bgcolor="#dcdcdc">
    <table bgcolor="#FFFFFF" width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr class="content">
        <td style="padding:10px;">
          <p>
              Dear Nautilus user {{.users}}<br/>
              The monitoring system found that you are the admin of the namespace <b>{{.pod.Namespace}}</b>, in which POD <b>{{.pod.Name}}</b> is not using the GPU resources efficiently.<br/>
              Please consider using <a href="https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/">JOBS</a> to shutdown the GPU PODs after the computation is done, or shut those down manually.<br/>
              The usage for your requested GPUs for the last 6 hours was:
              <table border="1">
                <tr>
                  <th>GPU avg usage, 6hr</th>
                  <th>Device ID</th>
                  <th>Device UUID</th>
                </tr>
              {{range .values}}
                <tr>
                  <td>{{printf "%.2f" .Value}}%</td>
                  <td>{{getLabel .Metric "device_id"}}</td>
                  <td>{{getLabel .Metric "device_uuid"}}</td>
                </tr>
              {{end}}
              </table>
          </p>
          <p><a href="https://prometheus.nautilus.optiputer.net/graph?g0.range_input=12h&g0.tab=0&g0.expr=nvml_gpu_percent{device_uuid=~\"{{.gpusString}}\"}">Usage plot</a></p>
        </td>
      </tr>
    </table>
  </body>
</html>
