{{define "body"}}
  {{if not .User.UserID}}
  <div class="container">
      <div class="jumbotron">
          <div class="text-center">
              <h1 class="mt-5">Welcome to the PRP Kubernetes gateway</h1>
              <p class="lead">Here you can get your kubectl settings and run some Jupyter notebooks on your institution's dedicated resources</p>
          </div>
      </div>
  </div>
  {{end}}
{{end}}
