<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Nautilus</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" sizes="152x152" href="/media/apple-touch-icon.png">
  <link rel="manifest" href="/media/manifest.json">
  <link rel="mask-icon" href="/media/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon-16x16.png">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/vex-js/3.1.1/css/vex.min.css" integrity="sha256-vT3Ea/TUa31pD4JeYO4GMsAKW9PlqG9l8d33SLPIKaw=" crossorigin="anonymous" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/vex-js/3.1.1/css/vex-theme-os.min.css" integrity="sha256-xK3QvNOCJ17izA2HaEC1oy9dKdEm8dbgTGZksqSllPQ=" crossorigin="anonymous" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  {{template "page_css" .}}
  <style type="text/css">
    body {
        padding-top: 65px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/"><img height="40px" src="/media/Nautilus_2017.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              {{if not .User.Name}}
              <li class="nav-item">
                <a class="nav-link" id="loginbtn" href="auth">Login</a>
              </li>
              {{end}}
              {{if .User.Name}}
                {{if .User.IsAdmin ""}}
                  <li class="nav-item">
                      <a class="nav-link" href="admin">Admin</a>
                  </li>
                {{end}}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="" id="services_drop" data-toggle="dropdown" aria-expanded="false">Services</a>
                  <div class="dropdown-menu" aria-labelledby="services_drop">
                    <a class="dropdown-item" href="pods">Pods</a>
                    <a class="dropdown-item" href="nodes">Nodes</a>
                    <a class="dropdown-item" href="//grafana.{{.ClusterUrl}}"><i class="fa fa-external-link" aria-hidden="true"></i> Monitoring</a>
                    <a class="dropdown-item" href="//perfsonar.{{.ClusterUrl}}/maddash-webui"><i class="fa fa-external-link" aria-hidden="true"></i> Maddash</a>
                    <a class="dropdown-item" href="//traceroute.{{.ClusterUrl}}"><i class="fa fa-external-link" aria-hidden="true"></i> Traceroute</a>
                    <a class="dropdown-item" href="//webodm.{{.ClusterUrl}}"><i class="fa fa-external-link" aria-hidden="true"></i> WebODM</a>
                  </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="authConfig">Get config</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="" id="profile_drop" data-toggle="dropdown" aria-expanded="false">{{.User.Email}}</a>
                  <div class="dropdown-menu" aria-labelledby="services_drop">
                      <a class="dropdown-item" href="namespaces">Namespaces</a>
                      <a class="dropdown-item" href="logout">Log out</a>
                  </div>
                </li>
              {{end}}
          </ul>
      </div>
  </nav>

  {{range .Flashes}}
    <div class="alert alert-warning">
	  <strong>Warning!</strong> {{.}}
    </div>
  {{end}}

  {{template "body" .}}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vex-js/3.1.1/js/vex.combined.min.js" integrity="sha256-H9ekWOkL3LfgvoPQ7IUVEpaLPbPH05vETReIKbUJWUg=" crossorigin="anonymous"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      vex.defaultOptions.className = 'vex-theme-os';
      // $("#loginbtn").click(function() {
      //   window.location.href = "";
      // });

      // $("#logoutbtn").click(function() {
      //   logout();
      // });

    });
  </script>

  {{template "page_js" .}}
</body>

</html>

{{define "page_js"}}

{{end}}

{{define "page_css"}}

{{end}}
