{{define "body"}}
  <div class="container" style="padding-top: 16em">
      <div class="jumbotron">
          <div class="text-center">
              <p class="lead">Pods running in your namespace: {{.Pods}}</p>
          </div>
      </div>
  </div>
{{end}}
