{{define "body"}}
  {{$cluster:= .ClusterUrl}}
  {{$ns:= .Namespace}}
  <div class="container">
      <div class="jumbotron">
        <p class="lead">Pods running in your namespace:</p>
        {{if .User.IsAdmin}}
        <select class="form-control" id="ns_sel" onchange="window.location.href='/pods?namespace='+this.value">
          <option value=""><i>User's default</i></option>
          {{range .Namespaces}}
            <option value="{{.GetName}}"{{if eq .GetName $ns}} selected{{end}}>{{.GetName}}</option>
          {{end}}
        </select>
        {{end}}
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Status</th>
              <th>Node</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{range .Pods}}
            <tr>
              <td>{{.GetName}}</td>
              <td><span class="tt" {{if .Status.Message}}title="{{.Status.Message}}"{{end}}>{{.Status.Phase}}{{if .Status.Reason}} (!){{end}}</span></td>
              <td>{{.Spec.NodeName}}</td>
              <td><a class="btn btn-outline-primary" href="//grafana.{{$cluster}}/dashboard/db/pods?var-namespace={{$ns}}&amp;var-pod={{.GetName}}">Monitor</a></td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
  </div>
{{end}}

{{define "page_js"}}
  <script src="https://unpkg.com/tippy.js/dist/tippy.min.js"></script>
{{end}}

{{define "page_css"}}
  <link rel="stylesheet" href="https://unpkg.com/tippy.js/dist/tippy.css">
{{end}}
