{{define "body"}}
  <div class="container">
      <div class="jumbotron">
        <a class="btn btn-outline-primary" href="JavaScript:mkns()">Create new</a>
        <p class="lead">Your namespaces:</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
	      <th></th>
            </tr>
          </thead>
          <tbody>
            {{range $key, $value := .NamespaceBindings}}
            <tr>
      	      {{if eq $value.Namespace.GetName ""}}
      	        <td><i>Cluster-wide</i></td>
                <td>
                  {{range $value.ClusterRoleBindings}}
                    <span class="roleref">{{.RoleRef.Name}}</span>
                  {{end}}
                </td>
		<td></td>
      	      {{else}}
                <td><a href="JavaScript:viewns('{{$value.Namespace.GetName}}')">{{$value.Namespace.GetName}}</a></td>
                <td>
                  {{range $value.RoleBindings}}
                    <span class="roleref">{{.RoleRef.Name}}</span>
                  {{end}}
                </td>
		<td>
		  <button type="button" class="btn btn-danger" title="Delete namespace"><i class="fa fa-trash" aria-hidden="true" onclick="delns('{{$value.Namespace.GetName}}')"></i></button>
		  <button type="button" class="btn btn-success" title="Add user"><i class="fa fa-address-book-o" aria-hidden="true" onclick="adduser('{{$value.Namespace.GetName}}')"></i></button>
		</td>
      	      {{end}}
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
  </div>
{{end}}

{{define "page_js"}}
<script src="/media/remote-list.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/nanoajax/0.4.3/nanoajax.min.js" integrity="sha256-LD4kEAL733s6q/X0SmbSsdteoGaOe4ny63lfVruo1ng=" crossorigin="anonymous"></script>
<script language="JavaScript">
function mkns() {
	vex.dialog.prompt({
	    message: 'Namespace name',
	    callback: function (value) {
        if(value !== false)
		      document.location.href = "?mkns="+value;
	    }
	})
}
function delns(ns) {
	vex.dialog.confirm({
	    message: 'Delete namespace '+ns+'? (May take some time)',
	    callback: function (value) {
	    	if(value)
			document.location.href = "?delns="+ns;
	    }
	})
}
function viewns(ns) {
      nanoajax.ajax({url:'/users?format=json&namespace='+ns, responseType: 'json'}, function (code, responseText) {
        if(responseText.status != "success") {
          console.debug("Error querying: "+responseText.status);
        } else {
          var res = responseText.data.result;
	  console.debug(res);
	    vex.dialog.alert({ unsafeMessage: [
		'<b>Users:</b>',
	    ].join('')});
        }
      })


}
function adduser(ns) {
    vex.dialog.open({
        message: 'Select user to add to the namespace.',
        input: [
            '<div class="vex-custom-field-wrapper">',
                '<label for="user">User</label>',
                '<div class="vex-custom-input-wrapper">',
                    '<input name="user" type="search" class="autosuggest"/>',
                '</div>',
            '</div>'
        ].join(''),
        callback: function (data) {
            if (!data) {
                return console.log('Cancelled')
            }
            document.location.href = "?addusername="+data.user+"&adduserns="+ns;
        }
    })
    $('input.autosuggest').remoteList({
	source: "/users?format=json&action=autocomplete"
    });
}
</script>
{{end}}

{{define "page_css"}}

<style>
  span.roleref {
    background: white;
    padding: 3px;
    border-radius: 3px;
    font-size: 0.6em;
  }
</style>
{{end}}
