{{define "body"}}
<div class="container">
  <div class="jumbotron">
    <a class="btn btn-outline-primary" href="JavaScript:mkns()">Create new</a>
    <p class="lead">Your namespaces:</p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Metadata</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{range $key, $value := .NamespaceBindings}}
        <tr>
          <td><a href="JavaScript:viewns('{{$value.Namespace.GetName}}')">{{$value.Namespace.GetName}}</a></td>
          <td>
            {{if and ( and (ne $value.Namespace.GetName "default") (ne $value.Namespace.GetName "kube-system")) (ne $value.Namespace.GetName "kube-public")}}
                    <span><b>PI: </b><a href="#" class="edit" data-name="PI" data-type="text" data-pk="{{$value.Namespace.GetName}}" data-url="/nsMeta" data-title="Enter PI">{{index $value.ConfigMap.Data "PI"}}</a></span>
                    <span><b>Grant: </b><a href="#" class="edit" data-name="Grant" data-type="text" data-pk="{{$value.Namespace.GetName}}" data-url="/nsMeta" data-title="Enter Grant">{{index $value.ConfigMap.Data "Grant"}}</a></span>
            {{end}}
          </td>
          <td>
            <button type="button" class="btn btn-danger" title="Delete namespace" onclick="delns('{{$value.Namespace.GetName}}')"><i class="fa fa-trash" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-success" title="Add user" onclick="adduser('{{$value.Namespace.GetName}}')"><i class="fa fa-address-book-o" aria-hidden="true"></i></button>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>
{{end}}

{{define "page_js"}}
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.js" integrity="sha256-zs4Ql/EnwyWVY+mTbGS2WIMLdfYGtQOhkeUtOawKZVY=" crossorigin="anonymous"></script>
<script language="JavaScript">
$.fn.editable.defaults.mode = 'inline';
$.fn.editableform.buttons =
  '<button type="submit" class="btn btn-primary btn-sm editable-submit">'+
    '<i class="fa fa-fw fa-check"></i>'+
  '</button>'+
  '<button type="button" class="btn btn-default btn-sm editable-cancel">'+
    '<i class="fa fa-fw fa-times"></i>'+
  '</button>';


$(document).ready(function() {
    $('.edit').editable();
});

function mkns() {
  vex.dialog.prompt({
    message: 'Namespace name',
    callback: function (value) {
      if(value !== false)
      document.location.href = "?mkns="+value;
    }
  })
}

function delns(ns) {
  vex.dialog.confirm({
    message: 'Delete namespace '+ns+'? (May take some time)',
    callback: function (value) {
      if(value)
      document.location.href = "?delns="+ns;
    }
  })
}

function viewns(ns) {
  $.ajax({
    url: '/users',
    data: { format: "json", action: "namespace", namespace: ns },
    dataType: "json",
    success: function(result, textStatus, xhr){

      var usersStr = "";
      if(result.users) {
        usersStr = [
          '<b>Users: </b>',
          result.users.map(function(item) {
            return "<span class='roleref'><i class='fa fa-trash' style='color:red; cursor: pointer;' title='Remove user from namespace' onclick='deluser(\""+item.spec.UserID+"\", \""+ns+"\")'></i> "+item.spec.Name+" &lt;"+"<a href='mailto:"+item.spec.Email+"'>"+item.spec.Email+"</a>&gt;</span>"
          }).join(' '),
          '<br/>',
        ].join('')
      }

      var adminsStr = "";
      if(result.admins) {
        adminsStr = [
          '<b>Admins: </b>',
          result.admins.map(function(item) {
            return "<span class='roleref'><i class='fa fa-trash' style='color:red; cursor: pointer;' title='Remove admin from namespace' onclick='deluser(\""+item.spec.UserID+"\", \""+ns+"\")'></i> "+item.spec.Name+" &lt;"+"<a href='mailto:"+item.spec.Email+"'>"+item.spec.Email+"</a>&gt;</span>"
          }).join(' '),
        ].join('')
      }

      if (adminsStr + usersStr == "") {
        usersStr = "No users defined";
      }

      vex.dialog.alert({ unsafeMessage: [
        usersStr,
        adminsStr,
      ].join('')});
    },
    error: function(xhr, text){
      vex.dialog.alert(text)
    },
  });
}

function adduser(ns) {
  vex.dialog.open({
    message: 'Select user to add to the namespace.',
    input: [
      '<div class="vex-custom-field-wrapper">',
      '<label for="user">User</label>',
      '<div class="vex-custom-input-wrapper">',
      '<input name="user" type="text" class="autosuggest"/>',
      '</div>',
      '</div>'
    ].join(''),
    callback: function (data) {
      if (!data) {
        return console.log('Cancelled')
      }
      document.location.href = "?addusername="+data.user+"&adduserns="+ns;
    }
  })
  var xhr;
  $('input.autosuggest').autoComplete({
    minChars: 2,
    source: function(term, suggest) {
        try { xhr.abort(); } catch(e){}
        xhr = $.getJSON('/users', { format:"json", action:"autocomplete", term: term }, function(data){ suggest(data); });
    },
    renderItem: function (item, search) {
        search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
        var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
      return '<div class="autocomplete-suggestion" data-val="' + item.value + '">'+ item.label.replace(re, "<b>$1</b>") + '</div>';
    }
  });
}

function deluser(user, ns) {
  document.location.href = "?delusername="+user+"&deluserns="+ns;
}
</script>
{{end}}

{{define "page_css"}}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.css" integrity="sha256-MFTTStFZmJT7CqZBPyRVaJtI2P9ovNBbwmr0/KErfEc=" crossorigin="anonymous" />
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<style>
span.roleref {
  background: white;
  padding: 3px;
  border-radius: 3px;
  font-size: 0.6em;
}

span.ialert {
  color: red;
}
</style>
{{end}}
