{{define "body"}}
  <div class="container">
    <a href="mailto:{{.MailtoAll}}">Email all</a>

    <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>IDP</th>
            <th>Email</th>
            <th>Role</th>
            <th>Validate</th>
          </tr>
        </thead>
        <tbody>
          {{range .Users}}
          <tr>
            <td>{{.Spec.UserID}}</td>
            <td>{{.Spec.Name}}</td>
            <td>{{.Spec.IDP}}</td>
            <td><a href="mailto:{{.Spec.Email}}">{{.Spec.Email}}</a></td>
            <td id="{{.Name}}_role">{{.Spec.Role}}</td>
            <td id="{{.Name}}_modif">
              {{if eq .Spec.Role "guest"}}
                <a class="btn btn-outline-primary" href="JavaScript:verifyUser('{{.Name}}', '{{.Spec.UserID}}', true)">Validate</a>
              {{end}}
              {{if eq .Spec.Role "user"}}
                <a class="btn btn-outline-primary" href="JavaScript:verifyUser('{{.Name}}', '{{.Spec.UserID}}', false)">Unvalidate</a>
              {{end}}
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
  </div>
{{end}}

{{define "page_js"}}
  <script language="JavaScript">
    function verifyUser(username, userid, isValid) {
      $.ajax({
        url: "/users",
        type: "POST",
        data: { user: userid, action: isValid?"validate":"unvalidate" },
        success: function(result){
          $("#"+username+"_role").html(result);
          var newButton = '<a class="btn btn-outline-primary" href="JavaScript:verifyUser(\''+username+'\', \''+userid+'\', '+!isValid+')">'+(isValid?'Unvalidate':'Validate')+'</a>';
          console.debug(newButton);
          $("#"+username+"_modif").html(newButton);
        },
        error: function(xhr, text){
          vex.dialog.alert(xhr.responseText)
        },
      });
    }
  </script>
{{end}}
