{{define "body"}}
  <div style="padding: 15px">
    <a href="mailto:{{.MailtoAll}}">Email all</a>

    <div id="jsGrid"></div>
  </div>
{{end}}

{{define "page_css"}}
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
{{end}}

{{define "page_js"}}
<!--
apk add nodejs
npm config set unsafe-perm true
npm install -g grunt-cli
grunt
-->
  <script type="text/javascript" src="media/jsgrid.min.js"></script>
  <script language="JavaScript">
    function verifyUser(userid, isValid) {
      $.ajax({
        url: "/users",
        type: "POST",
        data: { user: userid, action: isValid?"validate":"unvalidate" },
        success: function(result){
	  $("#jsGrid").jsGrid("loadData").done(function () {
            var sorting = $("#jsGrid").jsGrid("getSorting");
            $("#jsGrid").jsGrid("sort", sorting);
          });
        },
        error: function(xhr, text){
          vex.dialog.alert(xhr.responseText)
        },
      });
    }

    $("#jsGrid").jsGrid({
        width: "100%",
	controller: {
            loadData: function(filter) {
		    var d = $.Deferred();
		    $.ajax({url: "/users", dataType: "json", data: {format: "json", action: "general"}}).done(function(response) {
			d.resolve(response);
		    });
		    return d.promise();
	    }
	},
	autoload: true,
	sorting: true,
	selecting: false,
        fields: [
            { title: "Name", name: "spec.Name", type: "text", sorter: "string", width: 30 },
            { title: "User ID", name: "spec.UserID", type: "text", width: 60},
            { title: "IDP", name: "spec.IDP", type: "text", width: 30 },
            { title: "Email", name: "spec.Email", type: "text", width: 45 },
            { title: "Role", name: "spec.Role", type: "text", width: 3 },
            { title: "Validate", name: "spec.Role", width: 8, sorting: false, itemTemplate: function(value, item) {
               return $("<a>")
	         .addClass("btn btn-sm btn-outline-primary")
	         .attr("href", "JavaScript:verifyUser('"+item.spec.UserID+"', "+(item.spec.Role == "guest")+")")
		 .append((item.spec.Role == "guest")?"Validate":"Unvalidate");
	    }},
        ]
    });
    $("#jsGrid").jsGrid("loadData").done(function() {
    	$("#jsGrid").jsGrid("sort", 0);
    });
  </script>
{{end}}
